<div class="social-container">
  <div class="row pt-4">
    <h3 class="text-center social-media-text">Mufcpgh Social Media</h3>
  </div>
  <div class="social-buttons-row">
    <a href="https://www.instagram.com/mufcpgh/" target="_blank"
       class="social-btn instagram-btn">
      <img src="./assets/Instagram_Glyph_Gradient.png" alt="Instagram" class="social-icon">
      <span>Follow on Instagram</span>
    </a>
    <a href="https://twitter.com/CommunityReds1" target="_blank"
       class="social-btn twitter-btn">
      <img src="./assets/logo-black.png" alt="X" class="social-icon">
      <span>Follow on X</span>
    </a>
  </div>
</div>
